#drag-and-drop {
	min-width: 87%;
	max-width: 87%;
    min-height: 70px;
	max-height: 70px;
    border-top: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
	border-left: 1px solid #aaaaaa;
	color : #aaa;
	text-align: center;
	font-family: monospace;
	margin: 0 auto;
}

#textarea{
	min-width: 87%;
	max-width: 87%;
	border-top: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	color: #aaa;
	font-family: monospace;
	height:400px;
	margin: 0 auto;
}

#textarea span {
	color: black;
}

textarea{
	display: inline;
	margin-top:1%;
	width: 600px;
	height: 200px;
}

#process_wb{
	margin-right: 4px;
}

.table-preview {
	border: 1px solid #aaaaaa;
	min-width: 87%;
	max-width: 87%;
    min-height: 700px;
	max-height: 700px;
	overflow-x: scroll;
	overflow-y: scroll;
	margin: 0 auto;
}

.table-preview thead td[row] {
	font-weight: bold;
	cursor:cell;
}

.table-preview table {
	border: 1px solid #aaa;
    border-collapse: collapse;
}
.table-preview td, th {
	font-size: 10px;
	border: 1px solid #aaa;
    border-collapse: collapse;
}
